@charset "utf-8";
@import url(common.css);


/*
* File       : styles.css
* Date       : 2025. 03. 08.
*
*/
.main-home-wrap {
    align-items: center;
    display: flex;
    background: url(../img/main/bg.svg) no-repeat;
    background-position: bottom;
    flex: 1;
    justify-content: center;
}

.main-home {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    margin: 0 auto;
    max-width: 740px;
}

.main-home h1 {
    color: var(--color-000000-basic-black);
    font-size: var(--font-title-20-sm);
    font-weight: var(--font-600-semibold);
    line-height: 28px;
    text-align: center;
}

.search-group {
    position: relative;
}

.search-group textarea {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-E8E8E8-line);
    border-radius: var(--radius-16-lg);
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    font-weight: var(--font-500-medium);
    height: 98px;
    padding: var(--space-16-sm) 68px var(--space-16-sm) var(--space-20-md);
    width: 100%;
}

.search-group textarea:focus {
    outline-offset: 0px;
    outline: 2px dashed var(--color-2948a8-primary);
}

.search-group .btn-search {
    align-items: center;
    background: var(--color-2e2e2e-black);
    border-radius: var(--radius-full);
    bottom: 16px;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 16px;
    width: 36px;
}

.search-group .btn-search img {
    height: var(--ico-20-lg);
    width: var(--ico-20-lg);
}

.main-home .main-cont {
    background: linear-gradient(90deg, #AAA9BC 0.14%, #464555 101.27%);
    border-radius: var(--radius-16-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-20-md);
    padding: var(--space-24-lg);
}

.main-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.main-info h3 {
    color: var(--color-ffffff-white);
    font-size: var(--font-18-lg);
    font-weight: var(--font-600-semibold);
    line-height: 26px;
}

.main-info h6 {
    color: var(--color-ffffff-white);
    font-size: var(--font-14-xs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
    text-align: center;
}

.main-link-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.main-link-group .link-item {
    align-items: center;
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-E8E8E8-line);
    border-radius: var(--radius-12-md);
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    font-weight: var(--font-600-semibold);
    display: flex;
    gap: var(--radius-8-sm);
    padding: var(--space-16-sm) var(--space-20-md);
}

.main-link-group .link-item.flex-column {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.main-link-group .link-title {
    align-items: center;
    display: flex;
    gap: var(--space-8-xxs);
}

.main-link-group .link-title img {
    height: var(--ico-20-lg);
    width: var(--ico-20-lg);
}

.main-link-group .link-item a {
    align-items: center;
    display: flex;
    margin: 0 0 0 auto;
}

.main-link-group .link-item a:focus {
    background: var(--color-F8F8F8-gray-rgb);
}

.main-link-group .link-item a span {
    display: none;
}

.help-group {
    display: none;
}

@media (min-width:992px) {
    .main-home-wrap {
        background: url(../img/main/pc-bg.svg) no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .main-home {
        align-items: center;
        display: flex;
        gap: var(--space-20-md);
        justify-content: center;
        padding: 0;
        max-width: 1200px;
        height: 100vh;
        width: 100%;
    }

    .main-home h1 {
        font-size: var(--font-title-28-xl);
        font-weight: var(--font-600-semibold);
        line-height: 36px;
    }

    .search-group {
        width: 100%;
    }

    .search-group textarea {
        padding: var(--space-20-md) var(--space-24-lg);
        height: 132px;
    }

    .search-group .btn-search {
        align-items: center;
        background: var(--color-2e2e2e-black);
        border-radius: var(--radius-full);
        bottom: 20px;
        display: flex;
        height: 40px;
        justify-content: center;
        position: absolute;
        right: 24px;
        width: 40px;
    }

    .search-group .btn-search img {
        height: var(--ico-24-xl);
        width: var(--ico-24-xl);
    }

    .main-home .main-cont {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-40-xxl);
        height: 252px;
        padding: var(--space-40-xxl);
        width: 100%;
    }

    .main-info {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-24-lg);
    }

    .main-info h3 {
        font-size: var(--font-title-24-lg);
        font-weight: var(--font-600-semibold);
        display: block;
        line-height: 36px;
    }

    .main-info h6 {
        font-size: var(--font-14-xs);
        line-height: 24px;
        text-align: left;
    }

    .main-link-group {
        flex-direction: row;
        height: 100%;
        max-width: 624px;
        width: 100%;
    }

    .main-link-group .link-item {
        border-radius: var(--radius-20-xl);
        flex-direction: column;
        flex: 1;
        padding: var(--space-20-md);
    }

    .main-link-group .link-item.cow {
        background: var(--color-ffffff-white) url(../img/main/bg-cow.svg);
        background-position: right center;
        height: 100%;
        width: 100%;
    }

    .main-link-group .link-item.pig {
        background: var(--color-ffffff-white) url(../img/main/bg-pig.svg);
        background-position: right center;
        height: 100%;
        width: 100%;
    }

    .main-link-group .link-item.map {
        background: var(--color-ffffff-white) url(../img/main/bg-map.svg);
        background-position: right center;
        height: 100%;
        width: 100%;
    }

    .main-link-group .link-title {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .main-link-group .link-title img {
        display: none;
    }

    .main-link-group .link-item a {
        align-items: center;
        background: var(--color-F8F8F8-gray-rgb);
        border-radius: var(--radius-8-sm);
        border: none;
        cursor: pointer;
        color: var(--color-464555-darkgray);
        font-size: var(--font-13-xxs);
        font-weight: var(--font-500-medium);
        display: flex;
        font-size: var(--font-13-xxs);
        justify-content: center;
        line-height: 20px;
        margin: auto 0 0 0;
        padding: 10px 0;
        width: 100%;
    }

    .main-link-group .dropdown-content a {
        background: var(--color-ffffff-white);
        padding: var(--space-8-xxs) 0;
    }

    .main-link-group .dropdown-content a:focus {
        background: var(--color-F8F8F8-gray-rgb);
    }


    .main-link-group .link-item a img {
        display: none;
    }

    .main-link-group .link-item a span {
        display: block;
    }

    .main-link-group .dropdown {
        margin: auto 0 0 0;
    }

    .help-group {
        display: flex;
        position: absolute;
        top: 34px;
        right: 40px;
    }

    .help-area {
        position: relative;
    }

    .help-group span {
        align-items: center;
        background: var(--color-F8F8F8-gray-rgb);
        border-radius: var(--radius-8-sm);
        color: var(--font-13-xxs);
        cursor: pointer;
        font-size: var(--font-13-xxs);
        font-weight: var(--font-500-medium);
        display: flex;
        gap: var(--space-4-min);
        padding: var(--space-8-xxs) var(--space-16-sm);
    }

    .help-msg {
        background: var(--color-2e2e2e-black);
        border-radius: var(--radius-12-md);
        display: none;
        position: absolute;
        padding: var(--space-12-xs) var(--space-20-md);
        right: 0;
        top: 0;
        transform: translateY(46%);
        width: 240px;
    }

    .help-msg::after {
        background: url(../img/ico/i-help-trg.svg);
        background-size: cover;
        content: '';
        display: inline-block;
        height: 16px;
        position: absolute;
        top: -16px;
        right: 16px;
        width: 20px;
    }

    .help-msg p {
        color: var(--color-ffffff-white);
        font-size: var(--font-13-xxs);
        font-weight: var(--font-500-medium);
        line-height: 20px;
    }
}

.main-chat-wrap {
    background: var(--color-ffffff-white);
}

.chat-top {
    align-items: flex-start;
    border-bottom: 1px solid var(--color-E8E8E8-line);
    display: flex;
    flex-direction: column;
    gap: var(--space-4-min);
    padding: var(--space-20-md);
    position: relative;
}

.chat-top button {
    align-items: center;
    border-radius: var(--radius-8-sm);
    color: var(--color-ffffff-white);
    cursor: pointer;
    font-size: var(--font-13-xxs);
    font-weight: var(--font-500-medium);
    display: flex;
    gap: var(--space-4-min);
    padding: var(--space-8-xxs);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--space-20-md);
}

.chat-top a {
    color: var(--color-2e2e2e-black);
    display: block;
    font-size: var(--font-14-xs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
    text-decoration: underline;
    text-align: center;
}

.chat-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chat-body li {
    border-bottom: 1px solid var(--color-E8E8E8-line);
    max-width: 920px;
    padding: var(--space-32-xl) 0;
    width: 100%;
}

.chat-body li:first-child {
    border: 0;
    padding: var(--space-32-xl) 0 0 0;
}

.chat-body li:last-child {
    border: 0;
}

.chat-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}


.chat-item h4 {
    align-items: center;
    color: var(--color-2e2e2e-black);
    font-size: var(--font-16-md);
    font-weight: var(--font-600-semibold);
    display: flex;
    gap: var(--space-8-xxs);
}

.chat-item h4 img {
    height: 28px;
    width: 28px;
}

.chat-start {
    align-items: center;
    display: flex;
    justify-content: center;
}

.chat-start p {
    background: var(--color-F8F8F8-gray-rgb);
    border-radius: var(--radius-8-sm);
    color: var(--color-2e2e2e-black);
    font-size: var(--font-14-xs);
    font-weight: var(--font-500-medium);
    line-height: 22px;
    padding: var(--space-4-min) var(--space-8-xxs);
    text-align: center;
}

.chat-answer {
    display: flex;
    flex-direction: column;
    gap: var(--space-32-xl);
}

.chat-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.chat-text>* {
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    font-weight: var(--font-500-medium);
    line-height: 22px;
}

.chat-text span {
    color: var(--color-b10025-red);
}

.chat-text a {
    color: var(--color-2948a8-primary);
    text-decoration: underline;
}

.chat-suggestion {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.chat-suggestion h6 {
    color: var(--color-767586-gray);
    font-size: var(--font-14-xs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
}

.chat-suggestion .btn-group {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.chat-suggestion .btn-group button {
    border-radius: var(--radius-full);
    font-size: var(--font-13-xxs);
    font-weight: var(--font-500-medium);
    padding: var(--space-12-xs) var(--space-24-lg);
}

.chat-reaction {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.chat-reaction h6 {
    color: var(--color-767586-gray);
    font-size: var(--font-14-xs);
    font-weight: var(--font-500-medium);
    line-height: 20px;
}

.chat-reaction .btn-group {
    justify-content: flex-start;
    gap: var(--space-8-xxs);
}

.chat-reaction .btn-group button {
    align-items: center;
    border-radius: var(--radius-8-sm);
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
}

.chat-reaction .btn-group button.active:focus img,
.chat-reaction .btn-group button.active img {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(175deg) brightness(117%) contrast(100%);
}

.chat-bottom {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50%);
    bottom: 0;
    position: sticky;
    padding: var(--space-32-xl) 0 var(--space-20-md) 0;
}

.chat-bottom .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-4-min);
}

.chat-bottom .search-group input {
    border: 1px solid var(--color-E8E8E8-line);
}

.chat-bottom p {
    color: var(--color-464555-darkgray);
    font-size: var(--font-13-xxs);
    font-weight: var(--font-400-regular);
}

@media (min-width:992px) {
    .chat {
        height: 100vh;
        overflow-y: scroll;
    }

    .chat .container {

        min-height: calc(100% - 248px);
    }

    .chat-top {
        align-items: center;
        background: var(--color-ffffff-white);
        display: flex;
        height: 60px;
        justify-content: center;
        position: sticky;
        top: 0;
    }

    .chat-top button {
        padding: var(--space-8-xxs) var(--space-16-sm);
    }

    .chat-top a {
        display: inline-block;
        position: absolute;
        left: var(--space-20-md);
    }

    .chat-top .help-group {
        top: 13px;
        right: var(--space-20-md);
    }

    .chat-body li {
        padding: var(--space-40-xxl) 0;
    }

    .chat-item h4 {
        font-size: var(--font-18-lg);
        line-height: 26px;
    }

    .chat-suggestion .btn-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .chat-suggestion .btn-group button {
        font-size: var(--font-15-sm);
        line-height: 24px;
        padding: var(--space-12-xs) var(--space-40-xxl);
    }

    .chat-bottom {
        margin: 0 auto;
        max-width: 1000px;
    }
}

/* 20250701 추가 */
.search-group.type2 {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.search-group input {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-E8E8E8-line);
    border-radius: var(--radius-full);
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    font-weight: var(--font-500-medium);
    padding: var(--space-16-sm) var(--space-60-fourxl) var(--space-16-sm) var(--space-24-lg);
    width: 100%;
}

.search-group input:focus {
    outline-offset: 0px;
}

.search-group.type2 .btn-search {
    background: var(--color-2e2e2e-black);
    border-radius: var(--radius-full);
    height: 36px;
    position: absolute;
    right: var(--space-8-xxs);
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
}

.search-group.type2 .btn-search img {
    height: var(--ico-20-lg);
    width: var(--ico-20-lg);
}

@media (min-width: 992px) {
    .search-group input {
        font-size: var(--font-16-md);
        padding: var(--space-24-lg) var(--space-60-fourxl) var(--space-24-lg) var(--space-32-xl);
    }

    .search-group.type2 .btn-search {
        height: 40px;
        right: var(--space-16-sm);
        width: 40px;
    }

    .search-group.type2 .btn-search img {
        height: var(--ico-24-xl);
        width: var(--ico-24-xl);
    }

}

.main-home.type2 {
    gap: var(--space-32-xl);
    padding: var(--space-40-xxl) 0;
}

.main-home-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-8-xxs);
}

.main-home-title h4 {
    color: var(--color-464555-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-500-medium);
    text-align: center;
}

.main-card-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
}

.main-card-list li {
    align-items: center;
    background: var(--color-F8F8F8-gray-rgb);
    border-radius: var(--radius-12-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    padding: var(--space-16-sm);
}

.main-card-list li h4 {
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    font-weight: var(--font-600-semibold);
}

.main-card-list li h6 {
    align-items: center;
    color: var(--color-464555-darkgray);
    display: flex;
    font-size: var(--font-14-xs);
    font-weight: var(--font-500-medium);
    gap: var(--space-4-min);
}

.main-card-list li h6 span {
    background: var(--color-2948a8-primary);
    border-radius: var(--radius-full);
    color: var(--color-ffffff-white);
    padding: var(--space-4-min) var(--space-12-xs);
}

@media (min-width: 992px) {
    .main-card-list {
        flex-direction: row;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
    }

    .main-card-list li {
        flex: 1;
    }
}

.chat-table {
    overflow-x: auto;
    width: 100%;
}

.chat-table table {
    border-collapse: collapse;
    min-width: 600px;
    width: 100%;
}

.chat-table th {
    border: 1px solid var(--color-E8E8E8-line);
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    padding: var(--space-12-xs);
    text-align: center;
    white-space: nowrap;
}

.chat-table td {
    border: 1px solid var(--color-E8E8E8-line);
    color: var(--color-464555-darkgray);
    font-size: var(--font-14-xs);
    padding: var(--space-12-xs);
    text-align: left;
    white-space: nowrap;
}

.chat-table thead {
    background: var(--color-F8F8F8-gray-rgb)
}

@media (min-width: 768px) {
    .chat-table table {
        min-width: 100%;
    }

    .chat-table th,
    .chat-table td {
        padding: 16px;
    }
}

.main-question-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-12-xs);
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.main-question-list h3 {
    color: var(--color-464555-darkgray);
    font-size: var(--font-16-md);
    font-weight: var(--font-600-semibold);
    line-height: 20px;
}

.main-question-list ul {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    gap: var(--space-8-xxs);
}

.main-question-list ul li {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-2948a8-primary);
    border-radius: var(--radius-8-sm);
    color: var(--color-2948a8-primary);
    font-size: var(--font-15-sm);
    padding: var(--space-12-xs);
    text-align: center;
    width: 100%;
}

.main-question-list ul li:hover {
    background: var(--color-2948a8-primary);
    color: var(--color-ffffff-white);
}

@media (min-width:992px) {
    .main-question-list ul {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        gap: var(--space-8-xxs);
    }

    .main-question-list ul li {
        width: calc((100% - var(--space-8-xxs)) / 2);
    }
}

.chat-percent {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-E8E8E8-line);
    border-radius: var(--radius-12-md);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: var(--space-16-sm);
    max-width: 400px;
    padding: var(--space-16-sm);
}

.chat-percent h4 {
    align-items: center;
    color: var(--color-2e2e2e-black);
    font-size: var(--font-16-md);
    font-weight: var(--font-600-semibold);
    display: flex;
    gap: var(--space-8-xxs);
}

.chat-percent ul {
    display: flex;
    gap: var(--space-8-xxs);
}

.chat-percent ul li {
    align-items: flex-start;
    background: #F7F9FB;
    border-radius: var(--radius-12-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-4-min);
    padding: var(--space-16-sm) !important;
}

.chat-percent ul li span {
    color: var(--color-464555-darkgray);
    font-size: var(--font-12-min);
}

.chat-percent ul li h3 {
    color: var(--color-2948a8-primary);
    font-size: var(--font-16-md);
}

.chat-percent ul li:last-child h3 {
    color: var(--color-b10025-red);
}

@media (min-width: 992px) {
    .chat-percent h4 {
        font-size: var(--font-18-lg);
        line-height: 26px;
    }
}

.bg-point {
    background: linear-gradient(144deg, rgba(232, 232, 232, 0.05) 8%, rgba(41, 72, 168, 0.05) 97.86%);
}

.bg-transparent {
    background: transparent;
}

.chat-info {
    background: var(--color-ffffff-white);
    border: 1px solid var(--color-b10025-red);
    border-radius: var(--radius-12-md);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: var(--space-16-sm);
    padding: var(--space-16-sm);
}

.chat-info h5 {
    color: var(--color-2e2e2e-black);
    font-size: var(--font-15-sm);
    font-weight: var(--font-500-medium);
    line-height: 24px;
}

.chat-info h5 a {
    color: var(--color-b10025-red);
    text-decoration: underline;
}